
.dd_wrapper {
  display: flex;
  min-height: 44px;
  flex-wrap: wrap;
}


.dd_header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  outline: none;
  border-radius: 4px;

  &__open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.option_2 {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  color: #1F2041;
}

.arrow_up {
  transform-origin: center;
  display: inline-flex;
  transform: rotate(0deg);
  transition: 0.2s;
  padding: 10px 0;
}

.arrow_down {
  padding: 10px 0;
  display: inline-flex;
  transform: rotate(180deg);
  transition: 0.2s;
  transform-origin: center;
}
