.arrow {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.next_link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  outline: none;
  border: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;

  :global(.previous) {
    display: none;
  }
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  padding: 10px 10px;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.5);
  background-color: #FFFFFF;
  cursor: pointer;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #FFFFFF;
  padding: 13px 18px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #FFFFFF;
  padding: 13px 18px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  cursor: pointer;
}

