input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none;
  cursor: pointer;
  color: rgba(31, 32, 65, 0.5);
}

.input {
  border: none;
  outline: none;

  font-family: Montserrat, sans-serif;
  font-weight: bold;
  width: 25px;
  font-size: 16px;
  text-align: center;
}
