
.number_inner {
  display: flex;
  margin-top: 50px;
}

.inner {
  border-radius: 16px;
}
.span_n{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #1F2041;
}

.arrow{
  display: flex;
position: absolute;
top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}
.next_link{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  outline: none;
  border: none;
  cursor: pointer;
}

.date {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;
}

.horizontal_slider {
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;

  :global(.track.track-0) {
    background-color: white;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
  }

  :global(.track.track-2) {
    background-color: white;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
  }

}

.example_thumb {
  outline: none;
  top: -4px;
  border-radius: 8px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 14px;
  width: 14px;
  border: 2px solid white;
}

.date_1 {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;
}

.panel {
  margin-left: 90px;
  margin-right: 40px;
  min-width: 270px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.option_1 {
  margin: 15px 0;
  color: rgba(31, 32, 65, 0.5);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  padding: 10px 12px;
  outline: none;
}

.option_2 {
  margin: 15px 0;
  border-radius: 4px;

  outline: none;
  border: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;
}

.title {
  display: flex;
  flex-direction: column;
}

.title_1 {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.price_1 {
  font-size: 14px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);
}

.checkbox_1 {
  display: flex;
  flex-direction: column;
}

.info {
  width: 270px;
  height: 260px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
}


.header {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #1F2041;
}



.info_1 {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  width: 228px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.number_1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;

  color: #1F2041;
}

.day {
  margin: 10px 0;
  font-size: 12px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);
}

.price {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);
}

.color {
  margin: 0 10px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: #BC9CFF;
}

.horizontal-slider {
  color: #8ba4f9;
}

.info_2 {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.reviews {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;

  color: rgba(31, 32, 65, 0.5);
}

.departure {
  outline: none;
  border: none;
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  .input {

  }

  .label {
    font-size: 14px;
    line-height: 18px;

    color: rgba(31, 32, 65, 0.5);
    margin: 5px 0;
    flex-direction: column;
    display: flex;
  }

  .span {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #1F2041;
    margin: 10px 0;
  }
  .span_1{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 5px;
  }
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.checkbox label::before {
  height: 20px;
  width: 20px;

  border: 1px solid rgba(31, 32, 65, 0.25);
  left: 0;
  top: 0;
  border-radius: 4px;

}


.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 6px;
  top: 7px;
  color: #BC9CFF;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";

}

.checkbox input[type="checkbox"]:checked + label::before {
  content: "";
  border: 1px solid #BC9CFF;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: none;

}

.wrap {
  display: flex;
  flex-direction: column;
}
.wrap__inner{
  display: flex;
  flex-wrap: wrap;
}
.header{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
  margin-left: 20px;

  color: #1F2041;
}
